/*---HEADER---*/

.heading__prez{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: auto;
    #prez__photo{
        height: 300px;
        display: flex;
    }
}

/*---DIV PHOTO---*/

img{
    width: 250px;
    border: solid 4px #b0d3fa;
    border-radius: 100%;
    margin: auto;
}

/*---DIV CONTACT---*/

#prez__contact{    
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#contact__job{
    margin: auto;
    font-size: 30px;
    color:#0077b6;
    font-family: 'Croissant One';
}

#contact__age{
    margin: auto;
    font-size: 30px;
    color:#023e7d;
}

#contact__phone{
    font-size: 25px;
    margin: auto;
    font-family: 'Montserrat';
    color: red;
    font-weight: bold;
}


#contact__email{
    font-size: 35px;
    margin: auto;
    text-decoration: none;
    color: #023e7d;
}

