/*---HEADER---*/

.heading__prez{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    #prez__photo{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

/*---DIV PHOTO---*/

#photo--moi{
    display: flex;
}

#photo--moi img{
    width: 150px;
    border: solid 4px #d2d4eb;
    border-radius: 100%;
    margin: auto;
}

#photo--bg{
    width: 100%;
    margin-top: 100px;
}

#photo--bg img{
    width: 100%;
}

/*---DIV CONTACT---*/

.prez__contact{    
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#contact__job{
    margin: auto;
    font-size: 30px;
    color:#0077b6;
    font-family: 'Croissant One';
}

#contact__age{
    margin: auto;
    font-size: 30px;
    color:#023e7d;
}

#contact__social{
    display: flex;
    margin: auto;
    width: 140px;
}

#contact__phone{
    font-size: 25px;
    margin: auto;
    font-family: 'Montserrat';
    color: red;
    font-weight: bold;
}

#contact__email{
    font-size: 30px;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to right, #2c2286, #049c0b, #f50606);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}