/*---HEADER---*/

#header__heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;  
}

/*---SECTION---*/

#heading__prez{
    width: 100%;
    #prez__photo{
        height: 300px;
        display: flex;
    }
}

/*---DIV PHOTO---*/

img{
    width: 250px;
    border: solid 4px #b0d3fa;
    border-radius: 100%;
    margin: auto;
}

/*---DIV INFO---*/

#prez__info{    
    display: flex;
    flex-direction: column;
}

#info__job{
    margin: auto;
    font-size: 30px;
    color:#0077b6;
    font-family: 'Croissant One';
}

#info__age{
    margin: auto;
    font-size: 30px;
    color:#023e7d;
}

/*---DIV CONTACT---*/

#prez__contact{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    #contact__phone{
        font-size: 25px;
        margin: auto;
        font-family: 'Montserrat';
        color: red;
        font-weight: bold;
    }
}

#contact__email{
    font-size: 35px;
    margin: auto;
    text-decoration: none;
    color: #023e7d;
}

