.fa-facebook{
    font-size: 2em;
    margin: auto;
    color: #2162ac;
}



/*---LOISIRS---*/

.fa-dumbbell{
    font-size: 2em;
    margin: auto;
}

.fa-basketball-ball{
    font-size: 2em;    
    margin: auto;
    color: #eb823c;
}

.fa-biking{
    font-size: 2em;
    margin: auto;
    color: #101ed6;
}

.fa-gamepad{
    font-size: 2em;
    margin: auto;
    color: #1f1f20;
}

.fa-linkedin {
    margin: auto;
    font-size: 2em;
    color: #366bce;
}