/*--------------------------*/
/*--- MINIMUM --- 650PX ---*/
/*------------------------*/

@media only screen and (min-width: 650px){

    /*---HEADER---*/

    #heading__prez{
        display: flex;
        flex-direction: column;
        width: 100%;
        #prez__photo{
            width: 100%;
            height: auto;
            
        }
    }

    #photo--moi{
        width: 250px;
        margin-bottom: 100px;
    }

    /*---CONTACT---*/

    #prez__contact{
        width: 100%;
        display: grid;
        grid-template-columns: (55% 45%);
        #contact--1{
            grid-column: 1;
            #contact--2{
                grid-column: 2;
            }
        }
    }

    #contact--2 #contact__social{
        width: 250px;
    }

}

/*---------------------*/
/*---MINIMUM---900PX---*/
/*---------------------*/






